header {
  display: flex;
  height: 100px;
  background-color: rgb(49, 54, 81);
  max-width: 100%;
}

#logo {
  margin-left: 250px;
}

ul {
  list-style: none;
  padding: 0;
  padding-left: 50px;
  margin: 0;
  display: flex;
}

li {
  margin-top: 50px;
  margin-right: 30px;
}
